/*

Darko Bunic
http://www.redips.net/
Mar, 2012.

*/

body {
	font-family: arial;
	margin: 0px;
}

/* container */
#myContainer {
	margin: 20px auto;
	/*border: 2px dashed LightBlue;*/
	font-size: 10pt;
	display: table;
}

/* both tables */
div#myContainer table {
	/*border-collapse: collapse;*/
	border-collapse: separate;
	border-spacing: 1px;
}

/* toolbox table */
#toolbox {
	background-color: #ccc;
	margin: 7px 7px 15px 7px;
}

/* main table */
#mainTable {
	color: #777;
	background-color: #eee;
	margin: 7px;	
}

/* table cells */
div#myContainer td, div#myContainer th {
	border: 1px solid navy;
	height: 80px;
	width: 80px;
	text-align: center;
	padding: 10px;
}

/* button styles */
.button {
	margin: 5px 10px;
	background-color: #6A93D4;
	color: white; 
	border-width: 1px;
	width: 50px;
	padding: 0px;
	font-size: 12px;
}
